project: {{ name }}
slug: {{ app }}
deploy_host: {{ deploy_host }}
deploy_user: {{ deploy_user }}
deploy_key: .ymir/deploy_key
deploy_url: {{ deploy_url }}
dev_port: {{ dev_port }}
prod_port: {{ prod_port }}
